.upload_cid{
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    p{
      font-size: 0.9rem;
      font-weight: 600;
      margin: 5px;
    }
    input[type="text"]{
      height: 30px;
      width: 80%;
    }

  }

  .ActionContainer{
    width: 100%;
    display: flex;
    justify-content: center;
  }