@use 'src/styles/variables' as variable;


.upload_cid{
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    p{
      font-size: 0.9rem;
      font-weight: 600;
      margin: 5px;
    }
    input[type="text"]{
      height: 30px;
      width: 80%;
    }

  }

  .ActionContainer{
    width: 100%;
    display: flex;
    justify-content: center;
  }


  @media screen and (max-width: variable.$mobile-break-point) {

    .upload_cid{
      margin: 20px;
      input[type="text"]{
        height: 30px;
        width: 100%;
      }
  
    }
  }