.gateway {
  display: flex;
  flex-direction: row;
  width: 100%;
  position: relative;

  .gatewayMain {
    width: 60%;
    display: flex;
    flex-direction: column;
    padding: 1.5rem;

    &__title {
      color: var(--background-black);
      font-weight: 600;
      font-size: 1.3rem;
    }

    &__content {
      margin: 20px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      p {
        font-size: 0.9rem;
        font-weight: 600;
      }
      .input-box {
        display: flex;
        align-items: center;
        background: #fefefe;
        border: 0.5px solid #c4c4c4;
        box-sizing: border-box;
        border-radius: 10px;
        margin: 0.5rem 0rem;
        padding: 10px;
        height: 60px;
        width: 100%;
        font-size: 1.3rem;
      }

      .input-box .prefix,
      .input-box .suffix {
        font-weight: 300;
        font-size: inherit;
        color: #999;
      }

      .input-box input {
        flex-grow: 1;
        font-size: inherit;
        background: #fff;
        border: none;
        outline: none;
        padding: 0.5rem;
      }

      .input-box:focus-within {
        border-color: #777;
      }

      .btn {
        width: 100%;
        height: 40px;
        border: none;
        padding: 10px 30px;
        font-size: 1rem;
        border-radius: 10px;
        color: white;
        font-weight: 600;
        font-family: inherit;
        background: var(--primary-blue);
        cursor: pointer;
        &:disabled {
          background: #777;
          cursor: default;
        }
      }

      .availability {
        font-weight: 500;
      }

      .errorMsg {
        font-weight: 500;
        color: red;
      }

      .subdomain {
        font-weight: 500;
        text-align: center;

        .link {
          color: var(--primary-blue);
          text-decoration: underline;
          cursor: pointer;
        }
      }

      .transactionBox {
        width: 100%;
        padding: 10px;
        border: 1px solid #dddd;
        border-radius: 5px;
        margin: 20px 0px;
        .title {
          font-size: 1rem;
        }

        table {
          width: 100%;

          tr > td {
            max-width: 100px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
          }
        }
      }
    }

    .gatewayDesign {
      flex: 1;
      height: 100%;

      .pattern {
        background: url("../../../../public/bg/bg_pattern.png");
        width: 100%;
        height: 100%;
        opacity: 0.1;
        filter: grayscale(100%);
      }
    }
  }
}
