.topup {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
    padding: 1.5rem;

    &__title {
        color: var(--background-black);
        font-weight: 600;
        font-size: 1.3rem;
    }

    &__description {
        .valueTopups {
            display: flex;
            width: 100%;
        }
    
        .planCard {
            border: 1px solid;
            border-radius: 10px;
            padding: 10px;
            width: fit-content;
            text-align: center;
            cursor: pointer;
            margin: 10px;
        }
    }
        &__content {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            padding: 2rem 0rem;
            input[type="number"] {
                background: #fefefe;
                border: 0.5px solid #c4c4c4;
                box-sizing: border-box;
                border-radius: 10px;
                margin: 0.5rem 0rem;
                padding-left: 10px;
                height: 30px;
                width: 50%;
                }
                .btn {
                    border: none;
                    padding: 10px 30px;
                font-size: 1rem;
                border-radius: 10px;
                color: white;
                font-weight: 600;
                font-family: inherit;
                background: var(--primary-blue);
            }


    }


}