@use 'src/styles/variables' as variable;

.uploadNew {
  display: flex;
  flex-direction: column;
  width: 100%;

  padding: 1.5rem;
  justify-content: space-between;

  &__top {
    flex: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  &__title {
    color: var(--background-black);
    font-weight: 600;
    font-size: 1.3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__content {
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .fileCard {
      height: 100%;
      width: 30%;
      border: 1px solid lightgrey;
      border-radius: 10px;
      position: relative;
      cursor: pointer;

      &:hover{
        border: 1px solid rgb(171, 170, 170);
        transform: scale(1.01);
      }

      .pattern,
      .title {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
      .pattern {
        background: url("../../../../public/bg/bg_pattern.png");
        opacity: 0.1;
        filter: grayscale(100%);
      }
      .title {
        z-index: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .icon{
          font-size: 2rem;
        }
      }
    }
  }

  &__progressContainer {
    padding: 1rem;
    background: #ffffff;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.16);
    border-radius: 10px;
    margin: 1rem 0rem;

    .information {
      margin-bottom: 10px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      p {
        margin: 0px;
        width: fit-content;
      }
    }


  }
}


@media screen and (max-width: variable.$mobile-break-point) {
  .uploadNew {
  
    &__content {
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .fileCard {
        height: 100%;
        width: 100%;
        margin: 10px;
      }
    }

  }
}