.Profile{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 1.5rem;
    color: black;
    &__title {
        color: var(--background-black);
        font-weight: 600;
        font-size: 1.3rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
      }

      &__InfoContainer{
          display: flex;
          flex-direction: column;

          .AddressContainer{
              width: 100%;
              .addressBox{
                  display: flex;
                  align-items: center;
                  font-size: 1.5rem;
                  .icon{
                      margin-left: 10px;
                      cursor: pointer;
                  }
              }
              
          }

          .SpaceContainer{
              width: 100%;
              .spaceBox{
                  width: 100%;
                  margin: 10px 0px;
           
              }
          }
      }

      &__TokenBalanceContainer{
          border-top: 1px solid grey;
          padding: 1rem 0rem;

          .tokenContainer{
              display: flex;
              flex-wrap: wrap;
              width: 100%;
              padding: 10px 0px;
            
          }

      }
}